<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
  <title>Table Form</title>
</head>

<body>
  <div class="container-fluid d-flex align-items-center justify-content-center mt-5" >
    <form>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Staff</th>
            <th>Entries</th>
            <th>Log in Time</th>
            <th>Log Out Time</th>
            <th>Is Off</th>
          </tr>
        </thead>
        <tbody>
            {% for row in staffs %}
          <tr>
            <td><input type="text" class="form-control" value="{{row.name}}" name="name" disabled></td>
            <td><input type="number" class="form-control record-item" name="email"></td>
            <td><input type="time" class="form-control record-item" name="phone"></td>
            <td><input type="time" class="form-control record-item" name="email"></td>
            <td><input type="checkbox" class="form-check-input is-off"  name="phone"></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <button type="submit" class="btn btn-primary w-100">Save</button>
    </form>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  <script>
      $('.is-off').click(function() {
        if ($(this).is(':checked')) {
          $(this)
          .closest("tr")
          .find(".record-item").each(function(){
            $(this).attr('disabled','disabled');
          })
        }
        else {
          $(this)
          .closest("tr")
          .find(".record-item").each(function(){
            $(this).attr('disabled',false);
          })
        }
      });
  </script>
</body>

</html>
